@import "./css/fonts.css";
@import "./css/app.css";
@import "./css/clock.css";
@import "./css/chatLog.css";
@import "./css/focus.css";
@import "./css/popping.css";
@import "./css/carousel.css";
@import "./css/indicator.css";
@import "./css/announcement.css";
@import "./css/ranking.css";

#competition-view-container {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1vw;
  bottom: 1vh;
  width: 45vw;
  height: 45vh;
  z-index: 2;
}

#competition-view {
  position: absolute;
  right: 0;
  bottom: 0;
  color: whitesmoke;
  font-size: 1.3vw;
  padding: 1vh 1vw;
  background-color: rgba(0, 0, 0, 0.25);
}
