.user-settings-open-button {
  display: block;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #353535;
  padding: 1vh 3vw;

  &:hover {
    background-color: #585858;
  }
}

.user-settings-modal {
  background-color: black;
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  button {
    display: block;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1vh;
    padding: 1vh 2vw;
    background-color: #353535;

    &:disabled {
      cursor: default;
      color: #656565;
      background-color: #242424;

      &:hover {
        background-color: #242424;
      }
    }

    &:hover {
      background-color: #585858;
    }
  }
}
