@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;800;900&family=Quattrocento+Sans:ital,wght@0,400;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: green;
  /* background-color: transparent; */
}
